<section class="post main-form">
    <div class="mainColor">
        <div class="post-title">
            <table>
                <tr class="flex-row">
                    <td>
                        <img class="user-profile" src="views/graphic/NoPic.svg" alt="">
                    </td>
                    <td>
                        <h1>[USER]</h1>
                        <h2 class="secondaryText">[DATE]</h2>
                    </td>
                    [DELETE]
                </tr>
            </table>
        </div>
    </div>
    <div class="post-written">
        <p>[POST_CONTENT]</p>
    </div>
    <div class="slick-carousel">
        [IMAGES]
    </div>
    <hr>
    <form class="add-comment" action="" method="post">
        <input type="hidden" name="postToComment" value="[POST_NUMBER]">
        <input class="text-input" type="text" name="comment" id="comment-content" placeholder="new Comment">
        <input type="submit" id="new-comment" class="btn btn-comment mainColor" value="Comment">
    </form>
    [COMMENT_SECTION]
</section>