.MainColor {
    background-color: #3a4750;
}

.MainColor:hover {
    background-color: #485863;
}

.mainColorText {
    color: #3a4750;
}

.SecondaryColor {
    background-color: #d72323;
}

.SecondaryColor:hover {
    background-color: #f04545;
}

.SecondaryColorText {
    color: #d72323;
}

.secondaryColorSvg {
    fill: #d72323;
}

.secondaryColorSvgHover {
    fill: #f04545;
}

.HighlightColor {
    background-color: #eeeeee;
}

.HighlightColorText {
    color: #eeeeee;
}