@import "~react-image-gallery/styles/css/image-gallery.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'montserrat';
}

input,textarea, p ,h1, h2, h3, h4, button, a {
  font-family: 'montserrat';
}

/*
* Font
*/
@font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('embedded-opentype');
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

hr {
  width: 90%;
}