<section class="post main-form">
    <div class="mainColor">
        <div class="post-title">
            <h1>Neuer Beitrag</h1>
        </div>
    </div>
    <form class="write-post" method="POST" action="">
        <div class="flex-row">
            <img class="user-profile" src="views/graphic/NoPic.svg" alt="">
            <textarea id="post-content" class="textarea-input" name="post" cols="30" rows="10"
                placeholder="Schreib etwas"></textarea>
        </div>
        <hr class="post-line">
        <ul class="flex-row">
            <li>
                <label id="add-pic" for="new-pic" class="camera-btn secondaryColor"></label>
                <input type="file" id="new-pic" class="hide" value="" name="new-pic" enctype="multipart/form-data" accept="image/*">
            </li>
            <li><input type="submit" id="new-post" class="btn btn-post mainColor" value="Post"></li>
        </ul>
        <ul id="add-image">
        </ul>
    </form>
</section>

<section id="all-posts">