*:not(head) {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    color: #303841;
}

/*
* Hidden Elements
*/
.hide {
    display: none;
}

/*
* flex-form
*/
.main-form {
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 5px 8px #c9c9c9;
}

/*
* Flex-row
*/
.flex-row {
    flex-direction: row;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.9rem;
}

.big-chars {
    text-transform: uppercase;
}

/*
* Hover Buttons 
*/
.message-btn:hover {
    background-image: url(../graphic/Message-pressed.svg);
}

.friends-btn:hover {
    background-image: url(../graphic/Usergroup-pressed.svg);
}

.delete-btn:hover {
    background-image: url(../graphic/delete-hover.svg);
}

.logout-btn:hover {
    background-image: url(../graphic/logout-hower.svg);
    background-repeat: no-repeat;
}

/*
* Input
*/
.text-input {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 8px #c9c9c9;
    align-self: center;
}

.textarea-input {
    resize: none;
    width: 70%;
    height: 100px;
    border: none;
    font-family: 'montserrat';
}

/*
* User-profile
*/
.user-profile {
    height: 80px;
    margin: auto;
    padding: 5px;
}

.comment-profile {
    height: 40px;
    margin: 0 auto;
}

/*
* Navbar
*/
.navbar {
    position: fixed;
    width: 100%;
    background-size: 900px;
    height: 40px;
    text-align: center;
    background-image: url(../graphic/navbar.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    z-index: 3;
}

.blur-nav {
    width: 100%;
    height: 2px;
    position: fixed;
    z-index: 2;
    box-shadow: 5px 10px 40px 40px #ffffff;
}

.navi-part {
    width: 40%;
    height: 40px;
}

.nav-btn {
    background-image: url(../graphic/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px;
    border: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-side-btn {
    right: 60px;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: transparent;
    background-color: transparent;
    background-position: center;
}

.navbar ul {
    justify-content: flex-end;
    align-items: center;
}

.message-btn {


    background-image: url(../graphic/Message.svg);
    background-repeat: no-repeat;
}

.friends-btn {
    background-image: url(../graphic/Usergroup.svg);
    background-repeat: no-repeat;
}

.logout-btn {
    background-image: url(../graphic/logout.svg);
    background-repeat: no-repeat;
}

/*
* Login-Form
*/
.login {
    transform: translateY(20%);
    height: 500px;
}

.login-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.login-form tr {
    padding: 10px;
}

.btn-login {
    box-shadow: 2px 2px 8px #c9c9c9;
    margin: 10px;
}

.error-text {
    color: red;
}

.camera-btn {
    width: 42.5px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url(../graphic/camera.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    color: none;
}

.btn-post {
    margin-top: 10px;
}

hr {
    margin-top: 10%;
    width: 90%;
    align-self: center;
}

/*
* Posts
*/
.post-title, .post-written, .write-post, .add-comment{
    margin: 10px;
}

.post {
    margin-top: 80px;
    padding-bottom: 10px;
    align-items: stretch;
}

.post-comment {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 50px;
    box-shadow: 2px 5px 8px #c9c9c9;
    padding: 5px;
    margin-top: 10px;
}

.delete-btn {
    background-image: url(../graphic/delete.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
    background-repeat: no-repeat;
}

.delete-form {
    margin-left: auto;
    margin-right: 10px;   
}

.post-comment .delete-form {
    align-self: center;
}

.post-image {
    width: 70%;
}

.slick-slide img{
    margin: 0 auto;
}

.slick-carousel {
    width: 80%;
    align-self: center;
}

.big-image {
    width: 100%;
}

/*
* Comment
*/
.add-comment input{
    margin: 10px 0;
}

/*
* Phone size
*/
@media only screen and (max-width:720px) {
    * {
        font-size: 12px;
    }

    /*
    * Text
    */
    h1{
        font-size: 1.5rem;
    }

    /*
    * User Profile
    */
    .user-profile {
        height: 45px;
        padding: 2px;
    }

    /*
    * Login form
    */
    .login, .post {
        width: 100%;
    }

    .login-form { 
        width: 80%;
    }

    /*
    * Posts
    */
    .camera-btn {
        width: 26.5px;
        height: 25px;
        margin-left: 15px;
    }

    .btn-post {
        float: right;
        margin-right: 15px;
        height: 25px;
    }
}

/*
* Font
*/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('embedded-opentype');
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}